{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% block css %} {% endblock %}

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'products:products-list' %}">Головна</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% block nav_bar %}
                {% endblock %}
                {% if search_bar %}
                <li>
                    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'products:products-list' %}">
                        <input class="form-control mr-sm-2" type="search" placeholder="Пошук" aria-label="Пошук" name="search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Пошук</button>
                        <a class="btn btn-outline-danger ml-2" href="{% url 'products:products-list' %}">Скинути</a>
                    </form>
                </li>
                {% endif %}
                {% if categories %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Категорії
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in categories %}
                        <a class="dropdown-item" href="?category={{ category.id }}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
                {% if add_product and add_category %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Додати
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'products:products-create' %}">Додати товар</a>
                        <a class="dropdown-item" href="{% url 'products:category-create' %}">Додати категорію</a>
                    </div>
                </li>
                {% endif %}
                {% if is_transactions %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Транзакції
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'transactions:transactions-list' %}">Усі</a>
                        {% if sales %}
                        <a class="dropdown-item" href="{% url 'transactions:sales-list' %}">Продажі</a>
                        {% endif %}
                        {% if purchases %}
                        <a class="dropdown-item" href="{% url 'transactions:purchases-list' %}">Закупівлі</a>
                        {% endif %}
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %} {% endblock %}

    {% block footer %}
    {% endblock %}


<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- FontAwesome script -->
<script src="{% static 'vendor/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>

</body>

</html>
