{% extends 'base.html' %}
{% load static %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if products %}
    <div class="table-wrapper">
<!--        <h2>Таблиця товарів</h2>-->
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Артикул</th>
                    <th>Назва</th>
                    <th>Бренд</th>
                    <th>Колір</th>
                    <th>Розмір</th>
<!--                    <th>Ціна закупівлі</th>-->
                    <th>Ціна продажу</th>
                    <th>В наявності</th>
                    <th>Категорія</th>
                </tr>
            </thead>

        {% for product in products %}
            {% if product.in_stock_amount < 1 %}
                <tr style="background-color: #ffffcc">

                    {% if product.article %}
                        <td>{{ product.article }}</td>
                    {% else %}
                        <td> </td>
                    {% endif %}

                    <td><a href="{% url 'products:products-detail' pk=product.pk %}">{{ product.name }}</a></td>

                    {% if product.brand %}
                        <td>{{ product.brand }}</td>
                    {% else %}
                        <td> </td>
                    {% endif %}

                    {% if product.color %}
                        <td>{{ product.color }}</td>
                    {% else %}
                        <td> </td>
                    {% endif %}
                    {% if product.size %}
                        <td>{{ product.size }}</td>
                    {% else %}
                        <td> </td>
                    {% endif %}
<!--                    <td>{{ product.purchase_price }}</td>-->

                    <td>{{ product.selling_price }}</td>
                    <td>{{ product.in_stock_amount }}</td>
                    <td>{{ product.category.name }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ product.article }}</td>
                    <td><a href="{% url 'products:products-detail' pk=product.pk %}">{{ product.name }}</a></td>
                    <td>{{ product.brand }}</td>
                        <td>{{ product.color }}</td>
                        <td>{{ product.size }}</td>
    <!--                    <td>{{ product.purchase_price }}</td>-->
                    <td>{{ product.selling_price }}</td>
                    <td>{{ product.in_stock_amount }}</td>
                    <td>{{ product.category.name }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>
{% else %}
<div class="image-container">
    <div>
        <a href="{% url 'products:products-create' %}" class="image-link">
            <img src="{% static 'vendor/img/cross.png' %}" alt="Image 1">
        </a>
        <h5>Додати товар</h5>
    </div>
    <div>
        <a href="{% url 'products:category-create' %}" class="image-link">
            <img src="{% static 'vendor/img/cross.png' %}" alt="Image 2">
        </a>
       <h5>Додати категорію</h5>
    </div>
</div>
{% endif %}
{% endblock %}
