{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="table-wrapper">
        <h2>Таблиця товарів</h2>
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Артикул</th>
                    <th>Назва</th>
                    <th>Бренд</th>
<!--                    <th>Колір</th>-->
<!--                    <th>Розмір</th>-->
<!--                    <th>Ціна закупівлі</th>-->
                    <th>Ціна продажу</th>
                    <th>В наявності</th>
<!--                    <th>Категорія</th>-->
                </tr>
            </thead>

            {% for product in products %}
                <tr>
                    <td>{{ product.article }}</td>
                    <td><a href="{% url 'products:products-detail' pk=product.pk %}">{{ product.name }}</a></td>
                    <td>{{ product.brand }}</td>
<!--                    <td>{{ product.color }}</td>-->
<!--                    <td>{{ product.size }}</td>-->
<!--                    <td>{{ product.purchase_price }}</td>-->
                    <td>{{ product.selling_price }}</td>
                    <td>{{ product.in_stock_amount }}</td>
<!--                <td>{{ product.category.name }}</td>-->
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
