{% extends 'base.html' %}
{% load static %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/create-styles.css' %}">
{% endblock %}

{% block content %}
        <div id="success-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Товар створено!</p>
            </div>
        </div>
    <div>
        <div class="form-wrapper">
        <h2>Створення товару</h2>
        <form method="post" class="form-style-7">
            {% csrf_token %}
        <ul>
            <div class="form-column">
                <li>
                    <label for="{{ form.name.id_for_label }}" type="text">{{ form.name.label_tag }}</label>
                    {{ form.name }}
                    <span>Введіть назву товару</span>
                </li>
                <li>
                    <label for="{{ form.brand.id_for_label }}" type="text">{{ form.brand.label_tag }}</label>
                    {{ form.brand }}
                    <span>Введіть бренд товару</span>
                </li>
                <li>
                    <label for="{{ form.article.id_for_label }}" type="text">{{ form.article.label_tag }}</label>
                    {{ form.article }}
                    <span>Введіть артикул товару</span>
                </li>
                <li>
                    <label for="{{ form.color.id_for_label }}" type="text">{{ form.color.label_tag }}</label>
                    {{ form.color }}
                    <span>Введіть колір товару</span>
                </li>

            </div>
            <div class="form-column">
                <li>
                    <label for="{{ form.size.id_for_label }}" type="text">{{ form.size.label_tag }}</label>
                    {{ form.size }}
                    <span>Введіть розмір товару</span>
                </li>
                <li>
                    <label for="{{ form.purchase_price.id_for_label }}">{{ form.purchase_price.label_tag }}</label>
                    {{ form.purchase_price }}
                    <span>Введіть закупівельну вартість товару</span>
                </li>
                <li>
                    <label for="{{ form.selling_price.id_for_label }}">{{ form.selling_price.label_tag }}</label>
                    {{ form.selling_price }}
                    <span>Введіть вартість продажу товару</span>
                </li>

                <li type="number">
                    <label for="{{ form.in_stock_amount.id_for_label }}">{{ form.in_stock_amount.label_tag }}</label>
                    {{ form.in_stock_amount }}
                    <span>Введіть наявну кількість товару</span>
                </li>
            </div>
            <li class="last-li">
                <label for="{{ form.category.id_for_label }}">{{ form.category.label_tag }}</label>
                {{ form.category }}
                <span>Виберіть категорію товару</span>
            </li>
        </ul>
        <div class="text-center">
<!--            <input class="btn btn-outline-success" type="button" value="Добавить размер" id="add-size-button">-->
            <input class="btn btn-outline-success" type="submit" value="Створити">
        </div>
        </form>
    </div>
    </div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var modal = document.getElementById('success-modal');
    var closeButton = modal.querySelector('.close');

    // Открывать модальное окно
    function openModal() {
        modal.style.display = 'block';
    }

    // Закрывать модальное окно
    function closeModal() {
        modal.style.display = 'none';
    }

    // Закрыть модальное окно при нажатии на крестик
    closeButton.addEventListener('click', closeModal);

    // Закрыть модальное окно при клике вне окна
    window.addEventListener('click', function(event) {
        if (event.target == modal) {
            closeModal();
        }
    });

    // Открывать модальное окно при успешной отправке формы
    var form = document.querySelector('.form-style-7');
    form.addEventListener('submit', function(e) {
        e.preventDefault();

        var formData = new FormData(form);
        var xhr = new XMLHttpRequest();

        xhr.open('POST', form.action, true);

        xhr.onload = function() {
            if (xhr.status >= 200 && xhr.status < 400) {
                // Успешный ответ от сервера
                form.querySelector('[name=size]').value = ''; // Очистить поле размера
                openModal(); // Открыть модальное окно
            }
        };

        xhr.onerror = function() {
            // Обработка ошибок при отправке запроса
        };

        xhr.send(formData);
    });
});
</script>
{% endblock %}
