{% extends 'base.html' %}
{% load static %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block css %}
    <link href="{% static 'css/detail-styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/sales-list-styles.css' %}" rel="stylesheet">
{% endblock %}

{% block nav_bar %}
    {% if product_have_transactions %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Транзакції товару
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'transactions:transactions-list' product_id=product.pk %}">Усі</a>
                {% if product_have_sales %}
                    <a class="dropdown-item" href="{% url 'transactions:sales-list' product_id=product.pk %}">Продажі</a>
                {% endif %}
                {% if product_have_purchases %}
                <a class="dropdown-item" href="{% url 'transactions:purchases-list' product_id=product.pk %}">Закупівлі</a>
                {% endif %}
            </div>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="wrapper">

    <div class="product-img">
      <img src="{% static 'vendor/img/default-upload-image.jpg' %}">
    </div>

    <div class="product-info" {% if product.in_stock_amount < 1 %}style="background-color: #ffffcc"{% endif %}>

      <div class="product-text">

        <h1>{{ product.name }}</h1>
        <h2>{{ product.brand }}</h2>
        <h3>Розмір: {{ product.size }}</h3>
        {% if sizes %}
          <p>Доступні розміри: {% for product in sizes %} <a href="{% url 'products:products-detail' pk=product.pk %}">{{ product.size }}</a>{% endfor %}</p>
        {% endif %}
        {% if sizes_out_of_stock %}
          <p>
              Розміри що закінчились: {% for product in sizes_out_of_stock %} <a href="{% url 'products:products-detail' pk=product.pk %}">
              {{ product.size }}
                </a> {% endfor %}
          </p>
        {% endif %}
        <p>Колір: {{ product.color }}</p>
        <p>Кількість: {{ product.in_stock_amount }}</p>
        <p>Ціна закупівлі: <b>{{ product.purchase_price }}</b></p>
        <p>Ціна продажу: <b>{{ product.selling_price }}</b></p>

      </div>

    </div>

</div>

<div class="button-container">
    <a href="{% url 'products:products-update' pk=product.pk %}" class="btn btn-outline-secondary">Змінити</a>
    <a href="{% url 'products:create-similar' pk=product.pk %}" class="btn btn-outline-info">Додати розмір</a>
    {% if product.in_stock_amount > 0 %}
    <a href="{% url 'transactions:sales-create' product_id=product.pk %}" class="btn btn-outline-success">Продати</a>
    {% endif %}
    <a href="{% url 'transactions:purchases-create' product_id=product.pk %}" class="btn btn-outline-success">Закупити</a>
    <a href="{% url 'products:products-delete' pk=product.pk %}" class="btn btn-outline-danger">Видалити</a>
</div>

{% endblock %}