{% extends 'base.html' %}
{% load static %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block nav_bar %}
    {% if product_id %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products:products-detail' pk=product_id %}">Повернутись до товару</a>
        </li>
    {% endif %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Фільтр
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="?period=day">День</a>
            <a class="dropdown-item" href="?period=week">Тиждень</a>
            <a class="dropdown-item" href="?period=month">Місяць</a>
            <a class="dropdown-item" href="?period=quarter">Квартал</a>
            <a class="dropdown-item" href="?period=year">Рік</a>
            <a class="dropdown-item" href="?period=current_week">Поточний тиждень</a>
            <a class="dropdown-item" href="?period=current_month">Поточний місяць</a>
            <a class="dropdown-item" href="?period=current_year">Поточний рік</a>
        </div>
    </li>

    {% if product_id %}
        <li><a class="btn btn-outline-danger ml-2" href="{% url 'transactions:sales-list' product_id=product_id %}">Скинути</a></li>
    {% else %}
        <li><a class="btn btn-outline-danger ml-2" href="{% url 'transactions:sales-list' %}">Скинути</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="table-wrapper">
        <h2>Таблиця продаж</h2>
        <div class="bg-dark table-date-filter">
            <form method="get">
            <label class="filter-date-label form-label" for="start_date">Початок:</label>
            <input type="date" id="start_date" name="start_date">

            <label class="filter-date-label form-label" for="end_date">Кінець:</label>
            <input type="date" id="end_date" name="end_date">

            <button class="btn btn-outline-secondary" type="submit">Фільтрувати</button>
            </form>
        </div>
        <table class="fl-table">
            <thead>
                    <tr>
                    <th>Товар</th>
                    <th>Ціна товару</th>
                    <th>Ціна продажу</th>
                    <th>Знижка</th>
                    <th>Кількість</th>
                    <th>Загальна вартість</th>
                    <th>Дата продажу</th>
                    <th>Видалити</th>
                    <th>    </th>
                </tr>
            </thead>

            {% for sale in sales %}
            {% if sale.non_cash %}
                <tr style="background-color: #62d982">
            {% else %}
                <tr>
            {% endif %}
                    <td><a href="{% url 'products:products-detail' pk=sale.product.pk %}">{{ sale.product.name }}</a></td>
                    <td>{{ sale.product.selling_price }}</td>
                    <td>{{ sale.selling_price }}</td>
                    <td>{{ sale.discount }}</td>
                    <td>{{ sale.amount }}</td>
                    <td>{{ sale.total_price }}</td>
                    <td>{{ sale.datetime_created|date:"d.m.Y H:i:s" }}</td>
                    <td><a href="{% url 'transactions:sales-delete' sale_id=sale.pk %}" class="btn btn-outline-danger">Видалити</a></td>
                    <td><img src="{% static 'vendor/img/arrow_up.png' %}" width="32" height="32"></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}