{% extends 'base.html' %}
{% load static %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block nav_bar %}
    {% if product_id %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products:products-detail' pk=product_id %}">Повернутись до товару</a>
        </li>
    {% endif %}
        <li class="nav-item">
            {% if product_id %}
                <a class="nav-link" href="{% url 'transactions:transactions-total' product_id=product_id %}">Узагальнені відомості</a>
            {% else %}
                <a class="nav-link" href="{% url 'transactions:transactions-total' %}">Узагальнені відомості</a>
            {% endif %}
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                    Фільтр
             </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="?period=day">День</a>
                <a class="dropdown-item" href="?period=week">Тиждень</a>
                <a class="dropdown-item" href="?period=month">Місяць</a>
                <a class="dropdown-item" href="?period=quarter">Квартал</a>
                <a class="dropdown-item" href="?period=year">Рік</a>
                <a class="dropdown-item" href="?period=current_week">Поточний тиждень</a>
                <a class="dropdown-item" href="?period=current_month">Поточний місяць</a>
                <a class="dropdown-item" href="?period=current_year">Поточний рік</a>
            </div>
        </li>
        {% if product_id %}
            <li>
                <a class="btn btn-outline-danger ml-2" href="{% url 'transactions:transactions-list' product_id=product_id %}">Скинути</a>
            </li>
        {% else %}
            <li>
                <a class="btn btn-outline-danger ml-2" href="{% url 'transactions:transactions-list' %}">Скинути</a>
            </li>
        {% endif %}
{% endblock %}

{% block content %}
    <div class="table-wrapper">
        <h2>Таблиця транзакцій</h2>
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Вид транзакції</th>
                    <th>Обсяг транзакції</th>
                    <th>Кількість товарів</th>
                    <th>Дата транзакції</th>
                    <th>    </th>
                </tr>
            </thead>

        {% for transaction in transactions %}
            <tr>
                <td>
                    <a href="{% url 'products:products-detail' pk=transaction.product.pk %}">{{ transaction.product.name }}</a>
                </td>
                {% if transaction.selling_price %}
                    <td>Продажа</td>
                {% else %}
                    <td>Закупівля</td>
                {% endif %}
                <td>{{ transaction.total_price }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.datetime_created|date:"d.m.Y H:i:s" }}</td>
                {% if transaction.selling_price %}
                    <td><img src="{% static 'vendor/img/arrow_up.png' %}" width="32" height="32"></td>
                {% else %}
                    <td><img src="{% static 'vendor/img/arrow_down.png' %}" width="32" height="32"></td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
