{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block nav_bar %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Фільтр
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="?period=day">День</a>
            <a class="dropdown-item" href="?period=week">Тиждень</a>
            <a class="dropdown-item" href="?period=month">Місяць</a>
            <a class="dropdown-item" href="?period=quarter">Квартал</a>
            <a class="dropdown-item" href="?period=year">Рік</a>
            <a class="dropdown-item" href="?period=current_week">Поточний тиждень</a>
            <a class="dropdown-item" href="?period=current_month">Поточний місяць</a>
            <a class="dropdown-item" href="?period=current_year">Поточний рік</a>
        </div>
    </li>
    <li><a class="btn btn-outline-danger ml-2" href="{% url 'transactions:transactions-list' %}">Скинути</a></li>
{% endblock %}

{% block content %}
    <div class="table-wrapper">
        <h2>Таблиця транзакцій</h2>
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Обсяг транзакції</th>
                    <th>Кількість товарів</th>
                    <th>Дата транзакції</th>
                    <th>    </th>
                </tr>
            </thead>

            {% for transaction in transactions %}
                <tr>
                    <td><a href="{% url 'products:products-detail' pk=transaction.product.pk %}">{{ transaction.product.name }}</a></td>
                    <td>{{ transaction.total_price }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.datetime_created|date:"d.m.Y H:i:s" }}</td>

                    {% if transaction.selling_price %}
                        <td><img src="{% static 'vendor/img/arrow_up.png' %}" width="32" height="32"></td>
                    {% else %}
                        <td><img src="{% static 'vendor/img/arrow_down.png' %}" width="32" height="32"></td>
                    {% endif %}

                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block footer %}
<footer class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav" style="margin: 0 auto">
                <li class="navbar-brand" style="color: #ED0000">
                    <p style="padding: 0; margin: 0 auto">Безготівковий ліміт: {{ month_non_cash_limit }}</p>
                </li>
            </ul>
        </div>
    </div>
</footer>
{% endblock %}
